<div>
    <a href=""><img src="../../../assets/v982-d3-01-modified.png" alt="Facebook" id="facebook"></a>
    <a href=""><img src="../../../assets/v982-d3-01-modified (1).png" alt="Twitter" id="twitter"></a>
    <a href=""><img src="../../../assets/v982-d3-01-modified (2).png" alt="Instagram" id="instagram"></a>
    <a href=""><img src="../../../assets/v982-d3-01-modified (3).png" alt="Twitch" id="twitch"></a>
    
    <a class="btn btn-block btn-social btn-twitter">
        <span class="fa fa-twitter"></span>
      </a>
    
</div>
